
.featured_item {
    position:relative;
}

.featured_item a {
    position:absolute;
    width:100%;
    bottom:0px;
    text-decoration: none;
    right:0px;
}

.featured_image {
    height:700px;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.featured_caption {
    color:#ffffff;
    top:0px;
    width:100%;
    padding:20px;
    font-weight:700;
    font-size:20px;
    box-sizing: border-box;
}
@media screen and (max-width: 720px) {
    .featured_image {
        background-size: none;
        width: 100%;
        height: 350px;
    }
}



