.teamInfo{
    padding: 30px 0 15px 20px;
  }
.teamInfo_logo {
    background-size: cover !important;
    background-repeat: no-repeat;
    margin-right: 15px;
    height: 100px;
    width: 100px;
    display: inline-block;
}
.teamInfo_team {
    display: inline-block;
    background: #1b1e21;
    box-shadow: 0 0 21px -2px rgba(84,212,0,0.82);
    font-weight: 700;
    color:#54d400;
    font-size: 36px;
    padding: 0 15px 0 15px;
    border-radius: 14px;
    margin-right: 15px;
}
@media screen and (max-width: 600px) {
    .teamInfo_team {
        display: block;
        margin-bottom: 15px;
    }
}
.teamInfo_games {
    display: inline-block;
    color:#54d400;
    font-size: 20px;
    font-weight: 700;
    padding: 0 15px 0 15px;
    background: #1b1e21;
    box-shadow: 0 0 21px -2px rgba(84,212,0,0.82);
    border-radius: 14px
}





