.videoWrapper h1{
    background-color: #1b1e21;
    color: #54d400;
    margin: 0px;
    padding: 10px;
    box-shadow: rgb(84, 212, 0) 2px 0px 12px;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .youtubeVideos {
        width: 100%;
        height: 350px;
    }
}