.newslist_item {
    border-bottom: 2px solid #d0f7cb;
    background: #fff;
    margin-top:0px;
    padding:8px 5px 0 5px;
}
.newslist_item:hover{
    background: #d0f7cb;
}
.newslist_item h2 {
    line-height: 21px;
    font-size: 17px;
    color:#1b1e21;
    margin-top: 10px;
}

.newslist_item a {
    text-decoration:none;
}
.newsList_wrapper {
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .5s ease-in;
}

.newsList_wrapper_enter {
    opacity:1;
    transform: translateX(0%)
}



.flex_wrapper {
    display: flex;
    border-bottom: 2px solid #d0f7cb;
    background: #f7f7f7;
}

.left {
    background-size: cover !important;
}

.left div {
    width:90px;
    height:90px;
    background-size:  40px !important;
    background-repeat: no-repeat !important;
    background-position:  center center !important;
}

.right {
    flex-grow: 1;
    padding:10px;
}

.flex_wrapper h2 {
    font-size: 12px;
    color:#525252;
}

.newsList h1{
    text-align:  center;
    background-color: #1b1e21;
    color: #54d400;
    padding: 10px;
    box-shadow: rgb(84, 212, 0) 2px 0px 12px;
}

