.articleImage{
    width: 100%;
    height: 700px;
    background-size: cover !important;
    background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
    .articleImage {
        background-size: none;
        width: 100%;
        height: 350px;
    }
}
.articleBody h1 {
    text-align:  center;
    background-color: #1b1e21;
    color: #54d400;
    margin: 0px;
    padding: 10px;
    box-shadow: rgb(84, 212, 0) 2px 0px 12px;
}
.articleText{
    padding: 20px;
    font-size: 18px;
}
