body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f7f7f7;
}
.featured_item {
  position:relative;
}

.featured_item a {
  position:absolute;
  width:100%;
  bottom:0px;
  text-decoration: none;
  right:0px;
}

.featured_image {
  height:750px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.featured_caption {
  color:#ffffff;
  top:0px;
  width:100%;
  padding:20px;
  font-weight:300;
  font-size:28px;
  box-sizing: border-box;
}

.videoList_wrapper h3 {
  text-align: center;
  margin:20px;
  color: #353535;
  font-weight: 300;
  font-size: 21px;
}
.videoList_wrapper h1{
  text-align:  center;
  background-color: #1b1e21;
  color: #54d400;
  margin: 0px;
  padding: 10px;
  box-shadow: rgb(84, 212, 0) 2px 0px 12px;
}
.videoListItem_wrapper {
  display: flex;
  border-bottom: 2px solid #d0f7cb;
  background: #f7f7f7;
}
.videoListItem_wrapper h4 {
  font-size: 17px;
  color:#1b1e21;
  margin-top: 10px;
}
.videoList_wrapper a {
  text-decoration: none; 
}
.right:hover{
  background: #d0f7cb;
}
.left {
  background-size: cover !important;
}
.left div {
  width:90px;
  height:90px;
  background-size:  40px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background: url('/images/play.png');
}
.right {
  flex-grow: 1;
  padding:10px;
}
.relatedWrapper {
  margin:0 5px;
}

.cardNfo {
  font-size: 12px;
}
.cardNfo i {
  margin-right: 5px;
}
.teamName {
  margin-right: 10px;
  background: #54d400;
  color: #1b1e21;
  padding: 3px 15px;
  font-weight: 700;
  border-radius: 14px
}
.date {
  color:#54d400;
  font-weight: 700;
}

.blue_btn {
  text-align: center;
  background: #1b1e21;
  box-shadow: 0px 0px 40px 5px rgba(84,212,0,0.82);
  font-weight: 700;
  color:#54d400;
  padding:9px;
  cursor:pointer;
  font-size:15px;
  margin: 20px 0 20px 0;
  display:block;
  text-decoration: none;
  border-radius: 14px;
}
.blue_btn:hover {
  background: #54d400;
  box-shadow: 0px 0px 27px -5px rgba(27,30,33,1);
  font-weight: 700;
  color:#1b1e21;
  border-radius: 14px;
}




